.card {
  margin-bottom: var(--ifm-spacing-vertical);
  transition: all 0.2s ease;
  outline: 1px solid var(--ifm-color-primary-lightest);
}

.card:hover {
  text-decoration: none;
  outline: 4px solid var(--ifm-color-primary);
}
