/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: var(--ifm-color-white);
  background: rgb(232,9,135);
  background: linear-gradient(135deg, rgba(232,9,135,1) 0%, rgba(232,9,135,1) 15%, rgba(62,50,143,1) 85%, rgba(62,50,143,1) 100%);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons > a {
  margin: 5px;
  width:300px;
}
