/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: var(--ifm-color-white);
  background-color: var(--ifm-color-primary);
  background-image: linear-gradient(135deg, var(--ifm-color-primary)  0%, #64398a 50%, #3e338f 100%);

}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
